@model Dulcita.ViewModels.HomeVM

@{
    ViewData["Title"] = "Cardápio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Cardápio</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a asp-action="Index" asp-controller="Home">Início</a>
                    <span>Cardápio</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="shop__option">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="shop__option__search">
                        <form id="searchForm" method="get" action="@Url.Action("Cardapio", "Home")">
                            <select name="categoriaId" onchange="this.form.submit()">
                                <option value="">Categorias</option>
                                @foreach (var categoria in Model.Categorias)
                                {
                                    if (Model.CurrentCategoriaId.HasValue && categoria.Id == Model.CurrentCategoriaId.Value)
                                    {
                                        <option value="@categoria.Id" selected>@categoria.Nome</option>
                                    }
                                    else
                                    {
                                        <option value="@categoria.Id">@categoria.Nome</option>
                                    }
                                }
                            </select>
                            <input type="text" name="searchTerm" placeholder="Pesquisar" id="searchInput"
                                value="@Model.CurrentSearchTerm" />
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            @if (Model.Produtos != null && Model.Produtos.Count > 0)
            {
                @foreach (var produto in Model.Produtos)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="product__item">
                            <a href="@Url.Action("Details", "Home", new { id = produto.Id })">
                                <div class="product__item__pic set-bg" data-setbg="/@produto.Imagem">
                                    @if (produto.Categorias != null && produto.Categorias.Count > 0)
                                    {
                                        <div class="product__label">
                                            @foreach (var categoria in produto.Categorias)
                                            {
                                                <span>@categoria.Categoria.Nome</span>
                                            }
                                        </div>
                                    }
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="#">@produto.Nome</a></h6>
                                    <div class="product__item__price">R$@produto.Preco</div>
                                    <div class="cart_add">
                                        <a href="#">Comprar</a>
                                    </div>
                                </div>

                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Nenhum produto encontrado.</p>
            }
        </div>

        <!-- Paginação -->
        <div class="shop__last__option">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__pagination">
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <a href="@Url.Action("Cardapio", new { page = i, searchTerm = Model.CurrentSearchTerm, categoriaId = Model.CurrentCategoriaId })"
                                class="@(i == Model.CurrentPage ? "active" : "")">@i</a>
                        }
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__last__text">
                        <p>Mostrando @((Model.CurrentPage - 1) * 9 + 1)-@(Model.CurrentPage * 9 > Model.TotalProdutos ?
                            Model.TotalProdutos : Model.CurrentPage * 9) de @Model.TotalProdutos resultados</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

<script>
    let timer;
    document.getElementById('searchInput').addEventListener('keyup', function () {
        clearTimeout(timer);
        timer = setTimeout(function () {
            document.getElementById('searchForm').submit();
        }, 5000); // O formulário será enviado 500ms após o último input
    });
</script>
